<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="shortcut icon" href="favicon.png">-->

    <title>2¢ | Get paid for your two cents!</title>

    <!-- Custom styles for this template -->
    <link href="main.css" rel="stylesheet">

    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

	<div class="headerwrap">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<h1>A way to get paid<br/>
					for your two cents.</h1>

					  <div class="form-group">
					  	<%= form_tag('/welcome/subscribe', method: "post", id: "subscribe", remote: "true", class: "form-inline") do -%>
						   <%= email_field(:email, :address, {class: "form-control", id: "exampleInputEmail1", placeholder: "Enter your email address"}) %>
               	   <%= submit_tag("Invite me!", class: "btn btn-warning btn-lg") %>
					   <% end %>
						</div>

                    <h3>We need beta testers!</h3>
				</div><!-- /col-lg-6 -->
				<div class="col-lg-6">
				  <%= image_tag "ipad-hand.png", class: "img-responsive" %>

				</div><!-- /col-lg-6 -->
				
			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /headerwrap -->
	
	
	<div class="container">
		<div class="row mt centered">
			<div class="col-lg-6 col-lg-offset-3">
				<h1>How it works.<br/>Quickly share your two cents and make extra cash.</h1>
				<h4>No hassle, no massive time commitment. Just tell us yes or no.</h4>
			</div>
		</div><!-- /row -->
		
		<div class="row mt centered">
			<div class="col-lg-4">
			  <%= image_tag("STEP-1.png", width: 120) %>
				<h4>1 - Open the app.</h4>
				<p>We show you an ad, service or product.</p>
			</div><!--/col-lg-4 -->

			<div class="col-lg-4">
			  <%= image_tag("STEP-2.png", width: 120) %>
				<h4>2 - Swipe Left Or Right</h4>
				<p>Give us your feedback.</p>

			</div><!--/col-lg-4 -->

			<div class="col-lg-4">
			  <%= image_tag("STEP-3.png", width: 120) %>
				<h4>3 - Get Paid</h4>
				<p>It's that simple!</p>

			</div><!--/col-lg-4 -->
		</div><!-- /row -->
	</div><!-- /container -->
	
	<div class="container2">
		<hr>
		<div class="row centered">
			<div class="col-lg-6 col-lg-offset-3">
				  	<div class="centered">
				     <%= form_tag('/welcome/subscribe', method: "post", id: "subscribe", class: "form-inline") do -%>
					   	<%= email_field(:email, :address, {class: "form-control", id: "exampleInputEmail2", placeholder: "Enter your email address"}) %>
   						<%= submit_tag("Invite me!", class: "btn btn-warning btn-lg") %>
   				   <% end %>
				   </div>
				</form>
			</div>
			<div class="col-lg-3"></div>
		</div><!-- /row -->
		<hr>
	</div><!-- /container -->
	

	<div class="container">
		<p class="centered">2C LLC | 2015</p>
	</div><!-- /container -->
	

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>





