<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class='container'>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'TwoCents', root_path, class: 'navbar-brand' %>
    </div>
    <div class="collapse navbar-collapse" id="main-nav-collapse">
      <ul class="nav navbar-nav">
            <li><%= link_to "Summary", dashboards_summary_path %></li>
            <li><%= link_to "Detailed", dashboards_detail_path %></li>
      </ul>
      <div class="nav navbar-nav navbar-right">
        <%= link_to "Log in", new_user_session_path, class: "btn btn-primary navbar-btn", method: :get %>
        <%= link_to "Sign up", new_user_registration_path, class: "btn btn-success navbar-btn", method: :get %>
      </div>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>