<!DOCTYPE html>
<html>
<head>
  <!--<link rel="stylesheet" href="bootstrap.min.css">-->
  <!--<link rel="stylesheet" href="custom.css">-->
  <link href="bootstrap.css" rel="stylesheet">
  <link href="custom.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <!--<%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>-->
  <%= csrf_meta_tags %>
</head>
<body>

  <%= favicon_link_tag 'favicon.ico' %>
  
  <%= render 'layouts/navigation' %>

  <%= yield %>

  
</body>
</html>
